@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Razor module</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <h1 id="msg">Razor module page rendered</h1>
</body>
</html>
